<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
  <div class="container-md">
    <h1>Copy and paste this template.</h1>

    <th:block th:with="boardInfo=${boardFileDTO.boardDTO}">
      <form action="/board/modify" method="post" id="modifyForm" enctype="multipart/form-data">
        <input type="hidden" name="bno" th:value="${boardInfo.bno}">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" name="title" id="title" th:value="${boardInfo.title}" readonly>
        </div>
        <div class="mb-3">
          <label for="regDate" class="form-label">Register Date</label>
          <input type="text" class="form-control" name="registerTime" id="regDate" th:value="${boardInfo.registerTime}" readonly>
        </div>
        <div class="mb-3">
          <label for="writer" class="form-label">Writer</label>
          <input type="text" class="form-control" name="writer" id="writer" th:value="${boardInfo.writer}" readonly>
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Content here</label>
          <textarea class="form-control" name="content" id="content" rows="3" readonly>[[${boardInfo.content}]]</textarea>
          <br>
        </div>


        <!--/* 파일 등록 영역 */-->
        <div class="mb-3">
          <label for="file" class="form-label"></label>
          <input type="file" class="form-control" id="file" name="files" multiple style="display:none;">
        </div>
        <button type="button" id="fileUploadBtn" class="btn btn-primary" disabled>File Upload</button>
        <!--/* 업로드할 파일을 보여줄 부분 */-->
        <div class="input-group mb-3" id="fileZone"></div>


        <button type="button" id="listBtn" class="btn btn-primary">List</button>
        <button type="button" id="modifyBtn" class="btn btn-success">Modify</button>
        <a th:href="@{/board/delete(delBno=${boardInfo.bno})}"><button type="button" id="deleteBtn" class="btn btn-danger">Delete</button></a>
      </form>


      <!--/ 파일 출력 영역 /-->
      <div class="mb-3">
        <ul class="list-group list-group-flush">
          <!--/* 반복문처럼 쓰는 거라서 th:each="file=~~"가 아니라 th:each="file : ~~"이다. */-->
          <li th:each="file : ${boardFileDTO.fileDTOList}" class="list-group-item">
            <div th:if="${file.fileType > 0}" class="ms-2 me-auto">
              <!--/* src의 경로 앞 뒤를 절댓값("@{| ~~~ |}")처리해줬다. */-->
              <img th:src="@{|/upload/${file.saveDir}/${file.uuid}_${file.fileName}|}" alt="file image" height="250" width="250">
            </div>
            <div th:unless="${file.fileType > 0}" class="ms-2 me-auto">
              <!--/ 다운로드 할 수 있게 a 태그를 씌웠다. /-->
              <a th:href="@{|/upload/${file.saveDir}/${file.uuid}_${file.fileName}|}" th:download="${file.fileName}">
                <!--/* 조건에 맞지 않으면 파일 이모지(svg)를 띄운다. 이모지는 부트스트랩에서 가져왔다. */-->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                  <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0z"/>
                </svg>
              </a>
            </div>
            <div class="ms-2 me-auto">
              <div class="fw-bold">File Name: [[${file.fileName}]]</div>
              Register Date: [[${file.registerTime}]]
            </div>
            <span class="badge text-bg-success rounded-pill">File Size: [[${file.fileSize}]]</span>
            <button type="button" th:data-uuid="${file.uuid}" class="btn btn-danger btn-sm file-del-btn" disabled>Delete File</button>
          </li>
        </ul>
      </div>


      <!--/* Comment 영역 */-->
      <!--/* 댓글 달기 영역 */-->
      <div class="input-group mb-3">
        <!--/* 보안 기능이 추가됨에 따라 writer에 로그인 했다면 사용자의 닉네임을, 아니라면 기본 값을 띄우도록 했다. */-->
        <!--/* ! 삼항연산자가 먹히지 않는다. 지금은 로그인 여부에 따라 블록을 나누었지만, 한 블록 내에서 처리할 수 있는 방법을 찾아봐야겠다. */-->
        <span class="input-group-text" id="commentWriter" >Temp Comment Writer</span>
        <input type="text" id="commentText" class="form-control" placeholder="Type comment here." aria-label="Username" aria-describedby="basic-addon1">
        <button type="button" id="commentAddBtn" class="btn btn-secondary">Add</button>
      </div>
      <!--/* 댓글 보여주기(뿌리기) 영역 */-->
      <ul class="list-group list-group-flush" id="commentList">
        <li class="list-group-item">
          <div class="ms-2 me-auto">
            <div class="fw-bold">writer</div>
            Content
          </div>
          <span class="badge text-bg-primary rounded-pill">register date</span>
        </li>
      </ul>

      <!--/* 댓글 더보기 버튼 */-->
      <!--/* 더 볼 댓글이 없으면 사라진다. */-->
      <div>
        <button type="button" id="moreBtn" data-page="1" class="btn btn-dark" style="visibility:hidden">MORE + </button>
      </div>

      <!--/* Modal 영역. 댓글을 수정할 때 쓰인다. */-->
      <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="commentWriterModal">NickName</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <input type="text" class="form-control" id="commentTextModal">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" id="commentModalBtn" class="btn btn-primary">changes</button>
            </div>
          </div>
        </div>
      </div>


      <script th:inline="javascript">
        let bnoVal = [[${boardInfo.bno}]]
        console.log(bnoVal);
      </script>
    </th:block>


    <script th:src="@{/javaScript/boardDetail.js}"></script>
    <script th:src="@{/javaScript/boardComment.js}"></script>
    <script th:src="@{/javaScript/boardRegister.js}"></script>
  </div>
</div>