<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="container-md">
        <h1>Board list page</h1>
        <hr>
        [[${pagingVO}]]

        <!-- /* search 영역 */ -->
        <form action="/board/list">
            <div class="input-group mb-3">
                <select class="form-select form-select-sm" name="sortType" aria-label="Small select example">
                    <option th:selected="${pagingVO.sortType == null? true : false}">Select Option</option>
                    <option th:value="t" th:selected="${pagingVO.sortType == 't' ? true : false}">Title</option>
                    <option th:value="w" th:selected="${pagingVO.sortType == 'w' ? true : false}">Writer</option>
                    <option th:value="c" th:selected="${pagingVO.sortType == 'c' ? true : false}">Content</option>
                    <option th:value="tw" th:selected="${pagingVO.sortType == 'tw' ? true : false}">Title&Writer</option>
                    <option th:value="tc" th:selected="${pagingVO.sortType == 'tc' ? true : false}">Title&Content</option>
                    <option th:value="wc" th:selected="${pagingVO.sortType == 'wc' ? true : false}">Writer&Content</option>
                    <option th:value="twc" th:selected="${pagingVO.sortType == 'twc' ? true : false}">Title&Writer&Content</option>
                </select>
                <input type="text" class="form-control" placeholder="Search Keyword" name="keyword" th:value="${pagingVO.keyword}" aria-label="Username" aria-describedby="basic-addon1">
                <input type="hidden" name="pageNum" th:value="1">
                <input type="hidden" name="postPerPage" th:value="${pagingVO.totalPage}">
                <button type="submit" class="btn btn-primary position-relative">Click to Search</button>
            </div>
        </form>

        <!--/* list 영역 */-->
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Number</th>
                <th scope="col">title</th>
                <th scope="col">writer</th>
                <th scope="col">register Date</th>
            </tr>
            </thead>
            <tbody>
            <tr scope="row" th:each="boardDTO:${list}">
                <td><a th:href="@{/board/detail(bno=${boardDTO.bno})}">[[${boardDTO.bno}]]</a></td>
                <td>[[${boardDTO.title}]]</td>
                <td>[[${boardDTO.writer}]]</td>
                <td>[[${boardDTO.registerTime}]]</td>
            </tr>
            </tbody>
        </table>

        <!-- /* pagination 영역 */ -->
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" th:if="${pagingVO.hasPrev}" >
                    <!-- /* <<(이전)을 보여주는 버튼 */ -->
                    <a class="page-link" aria-label="Previous" th:href="@{/board/list(pageNum=${pagingVO.startPage-1})}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <!-- /* 사용자가 클릭할 숫자를 보여주는 버튼 */ -->
                <th:block th:each="i : ${#numbers.sequence(pagingVO.startPage, pagingVO.endPage)}">
                    <li class="page-item" >
                        <a class="page-link" th:href="@{/board/list(pageNum=${i})}">[[${i}]]</a>
                    </li>
                </th:block>

                <!-- /* >>(이후)을 보여주는 버튼 */ -->
                <li class="page-item" th:classappend="${pagingVO.hasNext} eq false ? 'disabled' : ''">
                    <a class="page-link" aria-label="Next" th:href="@{/board/list(pageNum=${pagingVO.endPage+1})}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</div>